/* Reset some default browser styles */
body, h1, h2, p, div, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Style for the header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Style for the search bar */
.search-bar {
    margin: 10px 0;
}

/* Style for the content sections */
.content-section {
    margin: 20px 0;
}

.content-section h2 {
    color: #333;
}


/* Style for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/***************   Style pour page accueil ******************************************/
.nous-decouvrir {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.nous-decouvrir-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin-right: 20px; /* Add margin between cards */
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-basis: calc(25% - 20px);
}

.nous-decouvrir-card h2 {
    margin-bottom: 10px;
}

.decouvrir-img {
    width: 50px;
 
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .nous-decouvrir-card {
        width: calc(50% - 20px); /* Adjust the width for two cards in a row on smaller screens */
    }
}




