<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EquipeProjetFillRougeReservation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletListerRestaurants</display-name>
    <servlet-name>ServletListerRestaurants</servlet-name>
    <servlet-class>controler.restaurants.ServletListerRestaurants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListerRestaurants</servlet-name>
    <url-pattern>/nosRestaurants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListerProduits</display-name>
    <servlet-name>ServletListerProduits</servlet-name>
    <servlet-class>controler.produits.ServletListerProduits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListerProduits</servlet-name>
    <url-pattern>/cartes</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>controler.accueil.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ServletTesterConnexion</display-name>
    <servlet-name>ServletTesterConnexion</servlet-name>
    <servlet-class>controler.ServletTesterConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTesterConnexion</servlet-name>
    <url-pattern>/ServletTesterConnexion</url-pattern>
  </servlet-mapping>
  <servlet>

    <display-name>ServletListerUtilisateurs</display-name>
    <servlet-name>ServletListerUtilisateurs</servlet-name>
    <servlet-class>controler.utilisateurs.ServletListerUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListerUtilisateurs</servlet-name>
    <url-pattern>/ServletListerUtilisateurs</url-pattern>

  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRechercheRestaurant</display-name>
    <servlet-name>ServletRechercheRestaurant</servlet-name>
    <servlet-class>controler.restaurants.ServletRechercheRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRechercheRestaurant</servlet-name>
    <url-pattern>/ServletRechercheRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReservation</display-name>
    <servlet-name>ServletReservation</servlet-name>
    <servlet-class>controler.reservation.ServletReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReservation</servlet-name>
    <url-pattern>/ServletReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPageProfil</display-name>
    <servlet-name>ServletPageProfil</servlet-name>
    <servlet-class>controler.utilisateurs.ServletPageProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPageProfil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCreationCompte</display-name>
    <servlet-name>ServletCreationCompte</servlet-name>
    <servlet-class>controler.utilisateurs.ServletCreationCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreationCompte</servlet-name>
    <url-pattern>/creationDuCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>controler.utilisateurs.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterConnect</display-name>
    <filter-name>FilterConnect</filter-name>
    <filter-class>filter.FilterConnect</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterConnect</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>controler.utilisateurs.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
</web-app>